{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/owner_menu.html' %}
{% include 'include/hotel_menu.html' %}

<div class="container">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add  Item
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-3">
                <label for="">Name</label>
                <input type="text" placeholder="Name" name="name" class="form-control" required>
            </div>                                                  
            <div class="mb-3">                                      
                <button type="submit" class="btn btn-primary" name="add_category">Add</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <div class="container text-center" style=" display: flex; justify-content: center; flex-wrap: wrap;gap: 10px;">
    {% for i in items %}

    <br>
    <a href="/owner/item_detail/{{i.id}}/" style="text-decoration: none;color: black;">
      <div class="card border-secondary" style="width: 18rem;">
        <div class="card-body text-center">
          <h5 class="card-title">{{i.name}}</h5>
        </div>
      </div>
    </a>
    
    {% endfor %}
  </div>



  </div>


    





{% endblock content %}