{% extends 'home/base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<meta property="og:image" content="https://shipiamti.com{{i.image1.url}}">


{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}
{% load static %}
{% load home_tag %}
{% load embed_video_tags %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
.hero {
    background: url('{% static "img/full_add.jpg" %}') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
}
.navbar{
    position: fixed;
    left: 0;
    right: 0;
    z-index: +1;
}
</style>
<section class="hero" data-aos="fade-right" data-aos-duration="2000">
    <br><br><br>
</section>

<div class="container body">


<div class="category_main_box">
    {% for c in category %}
        <button class="category_box">
            {{c.name}}
        </button>
    {% endfor %}

</div>



<div class="item_main_box">
    {% for i in item %}
        <div class="item_box" style="height: fit-content;">
            <!-- img -->
              <div id="carouselExample" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% if i.image1.url != None %}{{i.image1.url}}{% endif %}"  alt="No Image">
                  </div>
                    {% if i.image2.url != None %}
                    <div class="carousel-item active">
                        <img src="{{i.image2.url}}"  alt="No Image">
                    </div>
                    {% endif %}
                    {% if i.image3.url != None %}
                    <div class="carousel-item active">
                        <img src="{{i.image3.url}}"  alt="No Image">
                    </div>
                    {% endif %}
                    {% if i.image4.url != None %}
                    <div class="carousel-item active">
                        <img src="{{i.image4.url}}"  alt="No Image">
                    </div>
                    {% endif %}
                    {% if i.image5.url != None %}
                    <div class="carousel-item active">
                        <img src="{{i.image5.url}}"  alt="No Image">
                    </div>
                    {% endif %}
                </div>
              </div>
              <!-- endimg -->

              <div id="video{{i.id}}" style="display: none;">{% video i.youtube_url '280x215'  %}</div>
            <!-- name -->
             <div class="p-2">
                 <div class="container" style="display: flex; gap: 10px;justify-content: space-evenly;">
                    <h4 data-aos="fade-right" data-aos-duration="2000" ><b>{{i.name}}</b></h4>
                    </div>
                 <div class="" style="display: flex; gap: 10px;justify-content: space-evenly;">
                    {% if i.youtube_url != None %}
                        <div onclick="see_video('{{i.id}}')"><i class="fa fa-youtube-play" style="font-size:30px;color:red"></i></div>
                        {% endif %}
                    <div><a href="https://api.whatsapp.com/send?phone=&text=*{{i.name}}* %0a  🙏🙏अस्सल चवदार!! मसाला दमदार!!🙏🙏 %0a *हॉटेल आशीर्वाद* घेऊन येत आहे अतिशय चवदार असा *शिपी आमटी मसाला* %0a  👌रुचकर, स्वादिष्ट आणि गावरान चव..... %0a 👍किंमत कमी अन् विश्वासाची हमी %0a 🏃‍♂️ चला तर मग आजच खरेदी करा शिपी आमटी मिक्स मसाला..... %0a 🏨 *हॉटेल आशीर्वाद* 🏨 %0a संपूर्ण महाराष्ट्रात  %0a   ऑनलाईन आणि घरपोच सेवा उपलब्ध...... 🚚 %0a %0a त्वरित  *https://shipiamti.com/*  या वेबसाइट ला भेट द्या... अन् बुक करा आपली ऑर्डर अगदी सोप्या पद्धतीने..... %0a संपर्क : 9730268423 / 9561190035" target="_blank"><i class="fa-brands fa-whatsapp" style="color: green; font-size: 30px;"></i></a></div>
                    </div>
                 <p class="text-start" onclick="read_more('{{i.id}}')" id="main_description{{i.id}}" style="font-weight: 500;">{{i.description|slice:50}}... <button type="button" class="btn btn-sm text-danger">Read More</button></p>  
                 <div id="description{{i.id}}" style="display: none;" >
                     <p class="text-start" onclick="read_less('{{i.id}}')" >{{i.description}} </p>  
                     {% video i.youtube_url '280x200'  %}
                     {% include 'include/producer_info.html' %}
                     <button type="button" onclick="read_less('{{i.id}}')" class="btn btn-sm text-success">Read Less</button>
                </div>
            </div>
            <!-- endname -->
             <div class="footer">
                {% price_and_weight i.id  %}


                <div id="mob{{i.id}}" style="display: none;">
                    <h6>Enter Delivery Information </h6>
                    <input type="number" style="width: 200px;margin: 0 auto;border: 1px solid black;" oninput="check_number('{{i.id}}')" id="mo{{i.id}}" class="form-control" placeholder="Enter Mobile Number " >
                    <button style="display: none;" type="button" class="mt-2 btn btn-danger" id="submit_btn{{i.id}}" onclick="check_customer('{{i.id}}')">Submit</button>
                  </div>

                <div id="qty_box{{i.id}}"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

<!----------------------------------------------------------------------------->
<style>
    .main_footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #d3d3d3;
        padding: 10px;
        text-align: center;
        right: 0;
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        align-items: center;
        z-index: 123121;
    }
</style>
<div class="main_footer">

    <div><input type="text" class="form-control w-100" placeholder="Search Item"></div>
    <div> <b>Rs.</b><b id="total_amount">{{total_amount}}</b></div>
    <div><a href="/order/cart/" id="place_order_btn" class="btn btn-warning btn-sm"> <i class="fa-solid fa-cart-shopping"></i> <b id="cart_qty" style="border-radius: 50%; padding: 2px;background-color: red;color: white;">{{cart_qty}}</b> </a></div>

</div>

<br><br>
<br><br>
{% include 'include/producer_info.html' %}
<br><br>
<br><br>
<br><br>

<!----------------------------------------------------------------------------->
<script>
    ScrollReveal().reveal('.container', { delay: 375, reset: true });
    see_video_last_id = ''
function see_video(id){
    if(see_video_last_id == id){
        document.getElementById('video'+id).style.display = 'none';
    }
    else{
        document.getElementById('video' + id).style.display = 'unset'; 
    }
    see_video_last_id = id
    console.log(see_video_last_id)
}
function read_more(id){
    document.getElementById('main_description'+id).style.display = 'none';
    document.getElementById('description'+id).style.display = 'unset';
}
function read_less(id){
    document.getElementById('main_description'+id).style.display = 'unset';
    document.getElementById('description'+id).style.display = 'none';
}

last_price_and_weight_id = ''
last_qty_box_id = ''

function add_to_cart(item_id, prise_and_weight_id) {
    qty = document.getElementById('qty'+prise_and_weight_id).value
    $.ajax({
        url: "{% url 'add_to_cart' %}",
        method: "GET",
        data:{
            item_id:item_id,
            qty:qty,
            prise_and_weight_id:prise_and_weight_id,
        },
        success: function(res){
            document.getElementById('total_amount').innerText = res.total_amount
            document.getElementById('qty_box'+item_id).innerHTML = `<div class="mt-2 alert alert-success">This Item is added to Cart</div>`                    
            document.getElementById('place_order_btn').style.display = 'unset';
            document.getElementById('cart_qty').innerText = res.cart_qty;
        }
    });
}


function check_number(id){
    mobile=document.getElementById('mo'+id).value;
            if (mobile.length <= 9 ){
            document.getElementById('mo'+id).style.borderColor ='green';return false;
            document.getElementById('submit_btn'+id).style.display = 'none';
        }
        if (mobile.length >= 11 ){
            alert('only 10 digit number ')
            document.getElementById('mo'+id).value='';
            document.getElementById('submit_btn'+id).style.display = 'none';
        }
        if (mobile.length == 10 ){
                document.getElementById('submit_btn'+id).style.display = 'unset';
                
                document.getElementById('mo'+id).style.borderColor ='';return true;
                
            }
        }
        
last_prise_and_weight_id = ''
function check_customer_sesion(p_id, prise_and_weight_id){
    if (last_prise_and_weight_id){
        document.getElementById('item_detail'+last_prise_and_weight_id).style.display = 'none';
        document.getElementById('price_and_weight_btn'+last_prise_and_weight_id).style.backgroundColor = '#FFFFFF';
    }
    document.getElementById('item_detail'+prise_and_weight_id).style.display = 'unset';
    document.getElementById('price_and_weight_btn'+prise_and_weight_id).style.backgroundColor = '#FFC107';
    last_prise_and_weight_id = prise_and_weight_id

}

function plus(id, price){
    var qty = document.getElementById('qty'+id).value
    qty++;
    document.getElementById('qty'+id).value=qty;
    p=qty*price
    document.getElementById('total_amount'+id).innerText=p;
        //speak code
        
    const msg = new SpeechSynthesisUtterance;
    msg.text=qty;
    
    msg.voice=speechSynthesis.getVoices()[1];
    speechSynthesis.speak(msg);
  
}

function minus(id, price, sell_minimum_quantity){
    var qty = document.getElementById('qty'+id).value
  if(qty > sell_minimum_quantity){
    qty--;
    document.getElementById('qty'+id).value=qty;
    p=qty*price
    document.getElementById('total_amount'+id).innerText=p;
            //speak code
            
        const msg = new SpeechSynthesisUtterance;
        msg.text=qty;
        
        msg.voice=speechSynthesis.getVoices()[1];
        speechSynthesis.speak(msg);
  }
}
</script>
{% endblock content %}