{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/navbar.html' %}

<style>
    .card-header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .div1{
            font-size: 13px;
            color: #565959;
        }
        .div2{
            font-size: 15px;
            color: #565959;
        }
    }

</style>
{% if customer %}

<div class="container">
{% for o in order_master %}
<a href="/view_customer_order/{{o.order_filter}}" style="text-decoration: none;">
<br>
<div class="card">
    <div class="card-header" style="border-bottom: none;grid-template-columns: 1fr;justify-content: center;">
        <div style="text-align: center;">
            <div class="div2">Order No. {{o.order_filter}}</div>
        </div>
    </div>
    <div class="card-header">
        <div class="text-center" style="display: flex;flex-direction: column;">
            <div class="div1">Date</div>
            <div class="div2">{{o.date|date:'d M Y'}}</div>
        </div>
        <div class="text-center">
            <div class="div1">Total</div>
            <div class="div2">₹{{o.total_amount}}</div>
        </div>
        <div class="text-center">
            <div class="div1">Order status</div>
            <div class="div2" {% if o.status == 'Pending' %} style="color: red;" {% else %} style="color: green;" {% endif %}>{{o.status}}</div>
        </div>
    </div>
</div>
</a>
{% endfor %}
</div>
{% else %}
{% include 'include/alert.html' %}

<div class="container text-center mt-3">
  <form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <input type="number" class="form-control" name="mobile" placeholder="Enter Mobile" required>
    </div>
    <button type="submit" name="mobile" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endif %}
{% endblock content %}