{% extends 'home/base.html' %}
{% block content %}
{% load home_tag %}
{% load static %}
{% include 'include/navbar.html' %}  
<style>
  *{margin: 0; padding: 0; 
    box-sizing: border-box;}
    body{
      height: 100vh;
      width: 100vw;
    }
  .list_head{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr ;
    border-bottom: 1px solid rgb(155, 150, 150);
    padding: 20px;
  }  

  .list_iteam{
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr ;
    border-bottom: 1px solid rgb(155, 150, 150); 
    column-gap: 20px;
    padding: 20px;
  }
  .address_box{
    border: 1px solid rgb(138, 134, 134);
    padding: 25px;
  }

  .qr_img{
    width: 250px;
  }

</style>



<div class="container">
<div style="display: flex;justify-content: space-evenly;" class="">
  <b>Bill Number {{order_master.order_filter}}</b>
  <p>Date {{order_master.date}}</p>
</div>
<div class="list_head">
<strong>Iteam Name</strong>
<strong>Price</strong>
<strong class="me-2">Qty</strong>
<strong>Total</strong>
</div>
{% for p in order_detail %}
<div class="list_iteam">
<div><strong>{{p.item.name}} {{p.weight}}{{p.unit}}</strong></div>
<div>Rs.{{p.price}}</div>
<div>{{p.qty}}</div>
<div><b id="t{{p.id}}"></b></div>

<script>
document.getElementById('t{{p.id}}').innerHTML = Number('{{p.qty}}') * Number('{{p.price}}');
</script>
</div>
{% endfor %}

<h6 class="mt-3">Amount Rs.{{order_master.total_amount}}</h6>

{% if order_master.status == 'Pending' %}
<div class="text-center" style="display: grid;justify-content: center;grid-template-columns: repeat(auto-fit, 250px);">
    <div >{{order_master.status}}</div>
    <div style="position: relative;">
        <img class="qr_img" src="{% static 'img/qr.jpeg' %}" >
        <div style="position: absolute; bottom:50px; right: 5px;">
            <b>vikas shiraskar Mo.9730268423</b>
        </div>
        <a href="upi://pay?pa=sunilkale101@okaxis&pn=PRASANNA%20Digital&am=1.00&cu=INR&aid=uGICAgICAwprTeA" class="btn btn-success">pay</a>

    </div>
</div>
{% endif %}

</div>

<br><br>
{% endblock content %}
