{% extends 'home/base.html' %}
{% block content %}
{% load home_tag %}
{% load static %}
{% include 'include/navbar.html' %}  
<style>
  *{margin: 0; padding: 0; 
    box-sizing: border-box;}
    body{
      height: 100vh;
      width: 100vw;
    }
  .list_head{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr ;
    border-bottom: 1px solid rgb(155, 150, 150);
    padding: 20px;
  }  

  .list_iteam{
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr ;
    border-bottom: 1px solid rgb(155, 150, 150); 
    column-gap: 20px;
    padding: 20px;
  }
  .address_box{
    border: 1px solid rgb(138, 134, 134);
    padding: 25px;
  }

  .qr_img{
    width: 250px;
  }

</style>



<div class="container">
<div style="display: flex;justify-content: space-evenly;" class="">
  <b>Bill Number {{order_master.order_filter}}</b>
  <p>Date {{order_master.date}}</p>
</div>
<div class="list_head">
<strong>Name</strong>
<strong>Price</strong>
<strong class="me-2">Qty</strong>
<strong>Total</strong>
</div>
{% for p in order_detail %}
<div class="list_iteam">
<div><strong>{{p.item.name}} {{p.weight}}{{p.unit}}</strong></div>
<div>Rs.{{p.price}}</div>
<div>{{p.qty}}</div>
<div><b id="t{{p.id}}"></b></div>
<div>
  <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#rate{{p.id}}">
    Rate
  </button>
</div>

<script>
document.getElementById('t{{p.id}}').innerHTML = Number('{{p.qty}}') * Number('{{p.price}}');
</script>
</div>


        <!-- Modal -->
        <div class="modal fade" id="rate{{p.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Rate To {{p.item.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Click on the Star for Rattings</p>
                
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{p.item.id}}">
                  <div class="" style="display: flex;justify-content: center; margin: 0 auto; width: 50%;">

                    <label class="container">
                      <input type="radio" value="1" style="display: none;" name="ratings" required>
                      <span class="fa fa-star  fa-2x {% if p.add_avg >= 1 %} checked {% endif %}" onclick="first('{{p.id}}'); this.onmouseout=''" onmouseout="clear_hower('{{p.id}}', '{{p.add_avg}}')" onmouseover="first('{{p.id}}')" id="first{{p.id}}"></span>
                    </label>
                    
                    <label class="container">
                    <input type="radio" value="2" style="display: none;" name="ratings" required>
                    <span class="fa fa-star  fa-2x {% if p.add_avg >= 2 %} checked {% endif %}" onclick="second('{{p.id}}'); this.onmouseout=''" onmouseout="clear_hower('{{p.id}}', '{{p.add_avg}}')" onmouseover="second('{{p.id}}')" id="second{{p.id}}"></span>
                  </label>
                  
                  <label class="container">
                    <input type="radio" value="3" style="display: none;" name="ratings" required>
                    <span class="fa fa-star  fa-2x {% if p.add_avg >= 3 %} checked {% endif %}" onclick="third('{{p.id}}'); this.onmouseout=''" onmouseout="clear_hower('{{p.id}}', '{{p.add_avg}}')" onmouseover="third('{{p.id}}')" id="third{{p.id}}"></span>
                  </label>
                  
                  <label class="container">
                    <input type="radio" value="4" style="display: none;" name="ratings" required>
                    <span class="fa fa-star  fa-2x {% if p.add_avg >= 4 %} checked {% endif %}" onclick="fourth('{{p.id}}'); this.onmouseout=''" onmouseout="clear_hower('{{p.id}}', '{{p.add_avg}}')" onmouseover="fourth('{{p.id}}')" id="fourth{{p.id}}"></span>
                  </label>
                  
                  <label class="container">
                    <input type="radio" value="5" style="display: none;" name="ratings" required>
                    <span class="fa fa-star  fa-2x {% if p.add_avg >= 5 %} checked {% endif %}" onclick="fifth('{{p.id}}'); this.onmouseout=''" onmouseout="clear_hower('{{p.id}}', '{{p.add_avg}}')" onmouseover="fifth('{{p.id}}')" id="fifth{{p.id}}"></span>
                  </label>

                </div>
                  <div class="mb-3">
                    <label for="">Title your review (required)</label>
                    <input type="text" class="form-control" name="title" id="title{{p.id}}" required >
                  </div>

                  <div class="mb-3">
                    <label for="">Write a review</label>
                    <textarea class="form-control" name="contant" id="contant{{p.id}}" required ></textarea>
                  </div>

                  <button type="submit" class="btn btn-danger" name="add_reviev">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
{% endfor %}

<h6 class="mt-3">Amount Rs.{{order_master.total_amount}}</h6>
<a href="/order/download_invoice/{{order_master.order_filter}}" class="btn btn-danger">Doenload Invoice <i class="fa fa-download" aria-hidden="true"></i></a>

<br><br><br>

<br><br><br>
{% if order_master.status == 'Pending' %}
<div class="text-center" style="display: grid;justify-content: center;grid-template-columns: repeat(auto-fit, 250px);">
    <div >{{order_master.status}}</div>
    <div style="position: relative;">
        <img class="qr_img" src="{% static 'img/qr.jpeg' %}" >
        <div style="position: absolute; bottom:50px; right: 5px;">
            <b>vikas shiraskar Mo.9730268423</b>
        </div>
        <a href="upi://pay?pa=sunilkale101@okaxis&pn=SUNIK KALE&am=10&cu=INR" class="btn btn-success">pay</a>
    </div>
</div>
{% endif %}

</div>


<br><br>

<script>
  function clear_hower(id, avg){
    if (avg >= 1){
      document.getElementById('first'+id).style.color = 'orange';
    }
    else{
      document.getElementById('first'+id).style.color = 'black';
    }
    if (avg >= 2){
      document.getElementById('second'+id).style.color = 'orange';
    }
    else{
      document.getElementById('second'+id).style.color = 'black';
    }
    if (avg >= 3){
      document.getElementById('third'+id).style.color = 'orange';
    }
    else{
      document.getElementById('third'+id).style.color = 'black';
    }
    if (avg >= 4){
      document.getElementById('fourth'+id).style.color = 'orange';
    }
    else{
      document.getElementById('fourth'+id).style.color = 'black';
    }
    if (avg >= 5){
      document.getElementById('fifth'+id).style.color = 'orange';
    }
    else{
      document.getElementById('fifth'+id).style.color = 'black';
    }
  }
  function first(id) {
    document.getElementById('first'+id).style.color = 'orange';
    document.getElementById('second'+id).style.color = 'black';
    document.getElementById('third'+id).style.color = 'black';
    document.getElementById('fourth'+id).style.color = 'black';
    document.getElementById('fifth'+id).style.color = 'black';
  }
  function second(id) {
    document.getElementById('first'+id).style.color = 'orange';
    document.getElementById('second'+id).style.color = 'orange';
    document.getElementById('third'+id).style.color = 'black';
    document.getElementById('fourth'+id).style.color = 'black';
    document.getElementById('fifth'+id).style.color = 'black';
  }
  function third(id) {
    document.getElementById('first'+id).style.color = 'orange';
    document.getElementById('second'+id).style.color = 'orange';
    document.getElementById('third'+id).style.color = 'orange';
    document.getElementById('fourth'+id).style.color = 'black';
    document.getElementById('fifth'+id).style.color = 'black';
  }
  function fourth(id) {
    document.getElementById('first'+id).style.color = 'orange';
    document.getElementById('second'+id).style.color = 'orange';
    document.getElementById('third'+id).style.color = 'orange';
    document.getElementById('fourth'+id).style.color = 'orange';
    document.getElementById('fifth'+id).style.color = 'black';
  }
  function fifth(id) {
    document.getElementById('first'+id).style.color = 'orange';
    document.getElementById('second'+id).style.color = 'orange';
    document.getElementById('third'+id).style.color = 'orange';
    document.getElementById('fourth'+id).style.color = 'orange';
    document.getElementById('fifth'+id).style.color = 'orange';
  }
</script>
{% endblock content %}
