<div class="container text-center">
    <div><h6 >अधिक माहितीसाठी</h6></div>
    <div ><b>हॉटेल आशिर्वाद</b></div>
    <div ><p>कोर्टी, ता. करमाळा, जि. सोलापूर,  पिन कोड-413203</p></div>
    <div><b><a href="tel:9730268423" class="btn btn-success mb-1 btn-sm"><i class="fa-solid fa-phone"></i></a> 9730268423 <a href="https://api.whatsapp.com/send?phone=+91 9730268423&text=hi" target="_blank"><i class="fa-brands fa-whatsapp" style="color: green; font-size: 30px;"></i></a></b><br></div>
    <div><b><a href="tel:9561190035" class="btn btn-success mb-1 btn-sm"><i class="fa-solid fa-phone"></i></a> 9561190035 <a href="https://api.whatsapp.com/send?phone=+91 9561190035&text=hi" target="_blank"><i class="fa-brands fa-whatsapp" style="color: green; font-size: 30px;"></i></a></b></div>
    
</div>
