<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  </head>
  <body>
    <div id="qrCodeContainer">
      <canvas id="qrCode"></canvas>
    </div>
    <script>
        const qrCodeElement = document.getElementById('qrCode');
        qrCodeElement.getContext('2d').clearRect(0, 0, qrCodeElement.width, qrCodeElement.height);

        const qr = new QRious({
          element: qrCodeElement,
          value: `upi://pay?pa=9730991252@ybl&pn=SUNIK KALE&am=10&cu=INR`,
          size: 200,
        });
    </script>
  </body>
</html>