
{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}

{% include 'include/owner_menu.html' %}


<div class="container">

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add  Category
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="add_category">Add</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>

  <style>
    a{
        text-decoration: none;
    }
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin: 8px 0;
}
</style>

    <div class="card-container">
        {% for c in category %}
            <div class="card">
                <h6>{{c.name }}</h6>
                <div style="display: flex; justify-content: space-evenly;">
                  <div><form method="POST">{% csrf_token %} <input type="hidden" name="id" value="{{c.id}}"> {% if c.status == 1 %}<button class="btn btn-success btn-sm" type="submit" name="active">Active</button>{% else %}<button class="btn btn-danger btn-sm" type="submit" name="deactive">Deactive</button>{% endif %}</form></div>
                  <div><button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{c.id}}">Edit</button></div>
                </div>
                </div>
            


  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{c.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="id" value="{{c.id}}">
            <div class="mb-3">
                <label for="">Name</label>
                <input type="text" name="name" value="{{c.name}}" class="form-control" required>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="edit_category">Edit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

        {% endfor %}
    </div>


  </div>


    





{% endblock content %}