{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/owner_menu.html' %}
{% load static %}
{% load embed_video_tags %}

<div class="container">


<div class="text-center">
    <b id="main_item_name">{{item.name}} <button class="btn" onclick="edit_item_name()"><i class="fa fa-pencil" aria-hidden="true"></i></button></b>
    <form method="POST" id="edit_item_name" style="display: none;gap: 10px;justify-content: center;align-items: center;"><input type="text" value="{{item.name}}" name="name" ><button style="width: 20px;height: 20px;display: flex;justify-content: center;align-items: center;" type="submit" name="edit_item_name" class="btn btn-success btn-sm" onclick="location.reload()"><i class="fa fa-check" aria-hidden="true"></i></button></form>
    <script>
      function edit_item_name(){
        document.getElementById('edit_item_name').style.display = 'flex'
        document.getElementById('main_item_name').style.display = 'none'
      }
    </script>
</div>

<div class="text-center">
    <p id="main_item_discription">{{item.description}} <button class="btn" onclick="edit_item_discription()"><i class="fas fa-pen-fancy    "></i></button></p>
    <form method="POST" id="edit_item_discription" style="display: none;gap: 10px;justify-content: center;align-items: center;">
      <textarea name="description" id="" cols="50" rows="10">{{item.description}}</textarea>
     <button style="width: 20px;height: 20px;display: flex;justify-content: center;align-items: center;" type="submit" name="edit_item_description" class="btn btn-success btn-sm" onclick="location.reload()"><i class="fa fa-check" aria-hidden="true"></i></button></form>
    <script>
      function edit_item_discription(){
        document.getElementById('edit_item_discription').style.display = 'flex'
        document.getElementById('main_item_discription').style.display = 'none'
      }
    </script>
</div>
 
<div class="text-center">
    <p id="main_item_embed_video">{% video item.youtube_url '220x200' %} <i class="fas fa-video    "></i> <button class="btn" onclick="edit_item_embed_video()"><i class="fas fa-pen-fancy    "></i></button></p>
    <form method="POST" id="edit_item_embed_video" style="display: none;gap: 10px;justify-content: center;align-items: center;">
      <textarea name="embed_video" id="" cols="50" rows="2">{{item.youtube_url}}</textarea>
     <button style="width: 20px;height: 20px;display: flex;justify-content: center;align-items: center;" type="submit" name="edit_item_embed_video" class="btn btn-success btn-sm" onclick="location.reload()"><i class="fa fa-check" aria-hidden="true"></i></button></form>
    <script>
      function edit_item_embed_video(){
        document.getElementById('edit_item_embed_video').style.display = 'flex'
        document.getElementById('main_item_embed_video').style.display = 'none'
      }
    </script>
</div>
<br>

<div class="container" style="display: grid; grid-template-columns: repeat(auto-fit, 380px);">

<!------------------ image sec -------------------------------->


<style>
  img{
    margin: 10px;
    border: 1px solid black;
    height: 100%;
    object-fit: cover;

  }
    </style>

{% if item.image2.url != None and item.image3.url != None and item.image4.url != None and item.image5.url != None %}

<div id="carouselExampleRide" style="overflow: hidden; position: relative; width: 300px;height: 300px;" class="carousel slide" data-bs-ride="true" >
  <div class="carousel-inner">
    <button type="button" style="position: absolute;right: 0px;top: 10px;z-index: 23;padding: 10px;" data-bs-toggle="modal" data-bs-target="#edit_Image"><i class="fas fa-edit    "></i></button>
    <div class="carousel-item active">
      <img src="{{item.image1.url}}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{item.image2.url}}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{item.image3.url}}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{item.image4.url}}" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{{item.image5.url}}" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% else %}
<div class="text-center" style="overflow: hidden;" type="button" class="btn ms-3" data-bs-toggle="modal" data-bs-target="#edit_Image" >
  <img style="height: 350px;" src="{% if item.image1.url != None %}{{item.image1.url}}{% endif %}" alt="No Image">
  <img style="height: 350px;" src="{% if item.image2.url != None %}{{item.image2.url}}{% endif %}" alt="No Image">
  <img style="height: 350px;" src="{% if item.image3.url != None %}{{item.image3.url}}{% endif %}" alt="No Image">
  <img style="height: 350px;" src="{% if item.image4.url != None %}{{item.image4.url}}{% endif %}" alt="No Image">
  <img style="height: 350px;" src="{% if item.image5.url != None %}{{item.image5.url}}{% endif %}" alt="No Image">
</div>


{% endif %}

<style>
  .modal-body img{
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
</style>
  <!-- Modal -->
  <div class="modal fade" id="edit_Image" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="mb-3">
                <label for="">Image1</label>
                <img src="{% if item.image1.url != None %}{{item.image1.url}}{% endif %}" alt="No Image">
                <input type="file" name="image1" placeholder="Image" class="form-control" value="{{item.image}}">
              </div>
              <div class="mb-3">
                <label for="">Image2</label>
                <img src="{% if item.image2.url != None %}{{item.image2.url}}{% endif %}" alt="No Image">
                <input type="file" name="image2" placeholder="Image" class="form-control" value="{{item.image}}">
              </div>
              <div class="mb-3">
                <label for="">Image3</label>
                <img src="{% if item.image3.url != None %}{{item.image3.url}}{% endif %}" alt="No Image">
                <input type="file" name="image3" placeholder="Image" class="form-control" value="{{item.image}}">
              </div>
              <div class="mb-3">
                <label for="">Image4</label>
                <img src="{% if item.image4.url != None %}{{item.image4.url}}{% endif %}" alt="No Image">
                <input type="file" name="image4" placeholder="Image" class="form-control" value="{{item.image}}">
              </div>
              <div class="mb-3">
                <label for="">Image5</label>
                <img src="{% if item.image5.url != None %}{{item.image5.url}}{% endif %}" alt="No Image">
                <input type="file" name="image5" placeholder="Image" class="form-control" value="{{item.image}}">
              </div>                                                  
            <div class="mb-3">                                      
                <button type="submit" class="btn btn-primary" name="Edit_item" onclick="this.style.display = 'none';spinner.style.display = 'flex'">Edit</button>
                <div class="spinner-border text-dark" style="display: none;" id="spinner" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!------------------------end image sec-------------------------->







<!------------------------weight sec-------------------------->

<br>

<ul class="list-group">
  <li class="text-center list-group-item " aria-current="true">
    <b>Price And Weight</b>
    <button type="button" class="btn btn-success btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#Add_price_and_weigth"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </li>
  
  
  <!-- Modal -->
  <div class="modal fade" id="Add_price_and_weigth" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="">Price</label>
                <input type="number" placeholder="Price" name="price" class="form-control" required>
              </div>                                                 
              <div class="mb-3">
                <label for="">Weight</label>
                <input type="number" placeholder="Weight" name="weight" class="form-control" required>
              </div>   
              <div class="mb-3">
                <label for="">Unit</label>
                  <select class="form-control" name="unit" id="">
                    <option value="KG">KG</option>
                    <option value="GM">GM</option>
                  </select>

              </div>                                             
              <div class="mb-3">
                <label for="">Sell Minimum Quantity</label>
                <input type="number" value="1" placeholder="Sell Minimum Quantity" name="sell_minimum_quantity" class="form-control" required>
              </div>                                                 
                                                 
              <div class="mb-3">                                      
                <button type="submit" class="btn btn-primary" name="Add_price_and_weight">Add</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  {% for i in prise_and_weight %}
  <li class="list-group-item" style="display: flex;justify-content: space-between;">
    <p>Rs.{{i.price}} - {{i.weight}}{{i.unit}} - {{i.sell_minimum_quantity}}  </p>
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#Edit_price_and_weigth{{i.id}}"><i class="fas fa-pen    "></i></button>
    <form method="POST">{% csrf_token %} <input type="hidden" name="id" value="{{i.id}}"> {% if i.status == 1 %}<button class="btn btn-success btn-sm" type="submit" name="active">Active</button>{% else %}<button class="btn btn-danger btn-sm" type="submit" name="deactive">Deactive</button>{% endif %}</form>
    
  </li>
  <!-- Modal -->
  <div class="modal fade" id="Edit_price_and_weigth{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <input type="hidden" name="id" value="{{i.id}}">
            <div class="mb-3">
              <label for="">Price</label>
              <input type="number"  value="{{i.price}}" placeholder="Price" name="price" class="form-control" required>
            </div>                                                 
            <div class="mb-3">
              <label for="">Weight</label>
              <input type="number" value="{{i.weight}}" placeholder="Weight" name="weight" class="form-control" required>
            </div>    
            <div class="mb-3">
              <label for="">Sell Minimum Quantity</label>
              <input type="number" value="{{i.sell_minimum_quantity}}" placeholder="Sell Minimum Quantity" name="sell_minimum_quantity" class="form-control" required>
            </div>                                             
            <div class="mb-3">
              <label for="">Unit</label>
              <select class="form-control" name="unit" id="">
                <option value="{{i.unit}}">{{i.unit}}</option>
                <option value="KG">KG</option>
                <option value="GM">GM</option>
              </select>              
            </div>                                                 
            <div class="mb-3">                                      
              <button type="submit" class="btn btn-primary" name="Edit_price_and_weight">Edit</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

</ul>


<!------------------------end weight sec-------------------------->
</div>

</div>
<!------------------------category sec-------------------------->

<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<ul class="list-group">
<li class="text-center list-group-item " aria-current="true">
  <b>Select Category</b>
  <button type="button" class="btn btn-success btn-sm ms-3" data-bs-toggle="modal" data-bs-target="#Select_category"><i class="fa fa-plus" aria-hidden="true"></i></button>
</li>
  <!-- Modal -->
  <div class="modal fade" id="Select_category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">{% csrf_token %}
            <div class="mb-3">
                <label for="">Select Category</label>
                  <select class="form-control" name="id">
                    {% for c in category %}
                      {% if c.selected_status == 0 %}
                        <option value="{{c.id}}" >{{c.name}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>                                                
              <div class="mb-3">                                      
                <button type="submit" class="btn btn-primary" name="select_item_category">select</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


{% for c in category %}
<li class="text-center list-group-item "  {% if c.selected_status == 0 %}  style="display: none;" {% else %} style="display: flex;gap: 10px;justify-content: space-between;" {% endif %} aria-current="true">{{c.name}}  <form method="POST"><input type="hidden" name="id" value="{{c.id}}"> <button type="submit" name="unselect_category" class="btn btn-sm btn-danger">Delete</button></form></li>
{% endfor %}

</ul>

</div>
<!------------------------end category sec-------------------------->
<br><br>
{% endblock content %}