{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% load static %}
{% block content %}
<div class="hi">
{% include 'include/owner_menu.html' %}
</div>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .print_div{
        padding: 10px;
        height: 150mm;
        width: 90mm;
        margin: auto;
        
        overflow:hidden;
    }
    .print_div_in{
        position: relative;
        height: 100%;
        width: 100%;
        border: 3px solid black;
        border-radius: 10px;
    }
    .address{
        textarea{
            width: 100%;
            padding: 10px;
            border: none;
            height: auto;
            padding-top: 0;
            font-weight: 700;
            line-height: 25px;
        }
    }
    #button{
        display: none;
    }
    h6 b{
        font-weight: 800;
    }
    img{
        height: 40px;
        width: 40px;

    }
</style>
<style media="print">
    .hi{
      display: none;
    }
    .list_iteam,.list_head{
      display: grid;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    }
  </style>


<div class="hi text-center">
    <br>
    <button onclick="window.print()" id="button" class="btn btn-primary">Print</button>
</div>
<div class="print_div">
    <div style="padding: 2px;">
        <div class="print_div_in">
            <br>
            <br>
            <div class="" style="position: absolute;top: 10px;right: 5px;height: 25px; width: 80px; border: 1px solid black;"></div>
            <div class="address p-2" style="border-top: 1px solid black;">
                <h6><b style="font-weight: 900;">To ,</b></h6>
                <textarea rows="8" oninput="check_address()" id="address" placeholder="Enter Address Here"></textarea>
            </div>
            <div class="owner_detail container" style=" margin-top: 10px; padding-top: 0px; border-top: 1px solid black;">
                <div style="margin-bottom: -15px; scale: 0.9; font-weight: 700;position: relative;">
                    <div style="font-weight: 600;margin-bottom: -7px;position: absolute;margin-left: -15px;"><h6><b>From</b>,</h6></div>
                    <br>
                    <p>Narayaniorder.com</p>
                    <p style="margin-top: -15px;">Poonam Ashish Shinde <br>A/p-Veet, Tal-KARMALA, Dist-Solapur, Maharashtra-413203</p>
                    <p style="margin-top: -15px;">Mo- 7499067094</p>
                </div>
            </div>
            <div class="" style="border-top: 1px solid black; display: flex;gap: 10px;justify-content: center;align-items: center;">
                <div><b>Thank You Visit Again</b></div>
                <div style="padding: 5px; border-left: 1px solid black;"><img src="{% static 'img/qrcode.png' %}"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function check_address(){
        address = document.getElementById('address').value;
        len = address.length
        if (len > 0){
            document.getElementById('button').style.display = 'unset'
        }else{
            document.getElementById('button').style.display = 'none'

        }
    }
</script>

{% endblock content %}