{% extends 'home/base.html' %}
{% block content %}
{% load home_tag %}
{% include 'include/navbar.html' %}  
<style>
  *{margin: 0; padding: 0; 
    box-sizing: border-box;}
    body{
      height: 100vh;
      width: 100vw;
    }
  .list_head{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr 0.50fr;
    border-bottom: 1px solid rgb(155, 150, 150);
    padding: 20px;
  }  

  .list_iteam{
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr 0.50fr;
    border-bottom: 1px solid rgb(155, 150, 150); 
    column-gap: 20px;
    padding: 20px;
  }
  .address_box{
    border: 1px solid rgb(138, 134, 134);
    padding: 25px;
  }


</style>

<div class="container">


<h>Shopping Cart</h>

<div class="list_head">
<strong>Iteam Name</strong>
<strong>Price</strong>
<strong class="me-2">Qty</strong>
<strong>Total</strong>
<strong>Action</strong>
</div>
{% for p in cart %}
<div class="list_iteam">
<div><strong>{{p.item.name}}   {{p.price_and_weight.weight}}{{p.price_and_weight.unit}}</strong></div>
<div>Rs. {{p.price_and_weight.price}}</div>
<div class="text-center" >
  <b>{{p.qty}}</b>
</div>
<div>Rs. <b id="total_amount{{p.id}}"></b></div>
<script>
    t = Number('{{p.qty}}') * Number('{{p.price_and_weight.price}}')
    document.getElementById('total_amount{{p.id}}').innerHTML = t.toFixed(2)
</script>
<div><form method="POST">{% csrf_token %}<input type="hidden" name="cart_id" value="{{p.id}}"><button type="submit" class="btn btn-danger" name="Remove">X</button></form></div>
</div>
{% endfor %}


<h6 class="mt-3">Amount Rs.{{total_amount_sub}}</h6>







<h6 class="mt-5 text-center"  >डिलिव्हरी पत्ता माहिती</h6>
<div id="mob" style="display: flex;justify-content: center; gap: 10px;">
  <input type="number" style="width: 200px;border: 1px solid black;" oninput="check_number()" id="mo" class="form-control" placeholder="Enter Mobile Number ">
  <input type="number" style="width: 200px;border: 1px solid black;display: none;" id="read_only_mo" class="form-control" placeholder="Enter Mobile Number " readonly>

  <button style="display: none;" type="button" class="mt-2 btn btn-danger" id="submit_btn" onclick="check_customer(),cut_btn.style.display = 'unset',this.style.display = 'none'">Submit</button>
  <button style="display: none;" type="button" class="mt-2 btn btn-danger" id="cut_btn" onclick="location.reload()">X</button>
</div>




<style>
  input{
    border: 1px solid black !important;
  }
</style>

<div  id="address_box">



</div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
function check_number(){
    mobile=document.getElementById('mo').value;
        if (mobile.length <= 9 ){
            document.getElementById('submit_btn').style.display = 'none';
        }
        if (mobile.length >= 11 ){
            alert('only 10 digit number ')
            document.getElementById('mo').value='';
            document.getElementById('submit_btn').style.display = 'none';
        }
        if (mobile.length == 10 ){
                document.getElementById('submit_btn').style.display = 'unset';
            }
        }
  function check_customer(){
    mobile=document.getElementById('mo').value;
    document.getElementById('read_only_mo').value = mobile;
    document.getElementById('read_only_mo').style.display = 'unset';
    document.getElementById('mo').style.display = 'none';
    $.ajax({
        url: "{% url 'check_customer' %}",
        method: "GET",
        data:{
          mobile:mobile,
        },
        success: function(res){
          document.getElementById('address_box').innerHTML = res.t;
        }
    });
  }
</script>

{% endblock content %}
