{% extends 'home/base.html' %}
{% block content %}
{% load home_tag %}
{% include 'include/navbar.html' %}  
<style>
  *{margin: 0; padding: 0; 
    box-sizing: border-box;}
    body{
      height: 100vh;
      width: 100vw;
    }
  .list_head{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr 0.50fr;
    border-bottom: 1px solid rgb(155, 150, 150);
    padding: 20px;
  }  

  .list_iteam{
    display: grid;
    grid-template-columns: 2fr 1fr 0.50fr 1fr 1fr 0.50fr;
    border-bottom: 1px solid rgb(155, 150, 150); 
    column-gap: 20px;
    padding: 20px;
  }
  .address_box{
    border: 1px solid rgb(138, 134, 134);
    padding: 25px;
  }


</style>

<div class="container">


<h>Shopping Cart</h>

<div class="list_head">
<strong>Iteam Name</strong>
<strong>Price</strong>
<strong class="me-2">Qty</strong>
<strong>Total</strong>
<strong>Action</strong>
</div>
{% for p in cart %}
<div class="list_iteam">
<div><strong>{{p.item.name}}   {{p.price_and_weight.weight}}{{p.price_and_weight.unit}}</strong></div>
<div>Rs. {{p.price_and_weight.price}}</div>
<div class="text-center" >
  <select id="qty{{p.item_id}}" oninput="cart_qty('{{p.item_id}}','{{p.customer_id}}')">
    <option selected>{{p.qty}}</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
  </select>
</div>
<div>Rs. <b id="total_amount{{p.id}}"></b></div>
<script>
    t = Number('{{p.qty}}') * Number('{{p.price_and_weight.price}}')
    document.getElementById('total_amount{{p.id}}').innerHTML = t.toFixed(2)
</script>
<div><form method="POST">{% csrf_token %}<input type="hidden" name="cart_id" value="{{p.id}}"><button type="submit" class="btn btn-danger" name="Remove">X</button></form></div>
</div>
{% endfor %}


<h6 class="mt-3">Amount Rs.{{total_amount_sub}}</h6>












<h6 class="mt-5 text-center" >Delivery Address Information</h6>

<div class="address_box">
<form action="" method="POST">{% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="name" name="name" {% if customer.name == None %}{% else %} value="{{customer.name}}"{% endif %} required>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Pin Code</label>
    <input type="number" class="form-control" id="name" name="pin_code" placeholder="6 Digit Pincode" {% if customer.pin_code == None %}{% else %} value="{{customer.pin_code}}"{% endif %} required>
  </div>
  
  <div class="mb-3">
    <label for="name" class="form-label">Flat, House no., Building, Company, Apartment </label>
    <input type="text" class="form-control" id="name" name="house_no" {% if customer.house_no == None %}{% else %} value="{{customer.house_no}}"{% endif %} required>
  </div>


  <div class="mb-3">
    <label for="name" class="form-label">Area, Street, Sector, Village </label>
    <input type="text" class="form-control" id="name" name="post" {% if customer.post == None %}{% else %} value="{{customer.post}}"{% endif %} required>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Landmark </label>
    <input type="text" class="form-control" id="name" name="landmark" {% if customer.landmark == None %}{% else %} value="{{customer.landmark}}"{% endif %} required>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">Taluka </label>
    <input type="text" class="form-control" id="name" name="taluka" {% if customer.taluka == None %}{% else %} value="{{customer.taluka}}"{% endif %} required>
  </div>

  <div class="mb-3">
    <label for="name" class="form-label">District </label>
    <input type="text" class="form-control" id="name" name="district" {% if customer.district == None %}{% else %} value="{{customer.district}}"{% endif %} required>
  </div>
  <div class="mb-3">
      <label for="name" class="form-label">State Name</label>
      <input type="text" class="form-control" id="name" name="state_name" value="Maharashtra">
  </div>
  <button type="submit" name="Add_address" class="btn btn-warning">Place Order</button>
</form>
</div>

</div>

<script>
  function state(s){
    $.ajax({
          url: "{% url 'state' %}",
          method: "GET",
          data:{
            id:'{{customer.id}}',
            s:s,
          },
          success: function(res){
              location.reload()
            
            }
        })
  }
  function cart_qty(pid,cid){
    qty = document.getElementById('qty'+pid).value;
    $.ajax({
          url: "{% url 'cart_qty' %}",
          method: "GET",
          data:{
            cid:cid,
            pid:pid,
            qty:qty,
          },
          success: function(res){
              location.reload()
            }
        })
  }


</script>

{% endblock content %}
