{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% include 'include/owner_menu.html' %}
{% include 'include/order_menu.html' %}

<style>
.orders_main_box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.order_box{
    width: 380px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
</style>

<div class="orders_main_box">
    {% for o in orders %}
    <div class="order_box text-center">
        <div>Order Number. <b>{{o.order_filter}}</b></div>
        <div class="flex">
            <div>Rs.{{o.total_amount}}</div>
            <div>{{o.ordered_date}}</div>
        </div>
        <div class="flex">
            <div>{{o.customer.name}}</div>
            <div>{{o.customer.mobile}}</div>
        </div>
        <div><a href="/order/pending_view_order/{{o.order_filter}}" class="btn btn-success " >View</a></div>
    </div>
    {% endfor %}
</div>

{% endblock content %}